<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Three Gears Logistics!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    @RenderBody()
    <br>
    @await Html.PartialAsync("Footer")
  </body>
</html>