@{
  Layout = "_Layout";
}

@using Factory.Models
@model List<Factory.Models.Engineer>;

<h1>Your Engineers:</h1>

@if(@Model.Count == 0)
{
  <p>There are no engineers in the system.</p>
  <button>@Html.ActionLink("Add a new engineer", "Create")</button>
}

@foreach (Engineer engineer in Model)
{
  <li>@Html.ActionLink($"{engineer.Name}", "Details", new {id = engineer.EngineerId})</li>
}