@{
  Layout = "_Layout";
}

<h1>Welcome to Three Gears Logistics</h1>
<h4>Use this application to keep track of machines and engineers</h4>

<button>@Html.ActionLink("Engineers", "Index", "Engineers")</button>
<button>@Html.ActionLink("Machines", "Index", "Machines")</button>